@model Lucid.Web.Portal.Models.ForgotCredentialsModel

@{
    ViewBag.Title = "Reset";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reset</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary()

    <ul  style="list-style-type:none">

        <li >
            @Html.LabelFor(m => m.Email)
                
        </li>

        <li>
              @Html.PasswordFor(m => m.Email)      
        </li>
        <li></li>
        <li >
            <input type="submit" value="E-Mail my credentials" />
        </li>
    </ul>
}

