
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome</h1>
                <h2></h2>
                <a href="Messages">Messages</a>
                <a href="Account/Login">Login</a>
                <a href="Account/Register">Register</a>

            </hgroup>
            <p>
                
            </p>
            <p>
              
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3></h3>
        
    </section>
</div>
