@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Log in";
}

<div>Welcome to Lucid Clinical Solutions. We provide the following services: </div>
<br />
<ul>
<li>Patient Education</li>
<li>Secure Hippa Compliant E-Mail</li>
</ul>