@model Lucid.Web.Portal.Models.Chiropractor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Chiropractor</legend>

    <div class="display-label">Email</div>
    <div class="display-field">@Model.Email</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


